*{
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
}

.main-container{
    width: 1040px;
    height: 74px;
    margin-left: 100px;
    position: absolute;
}

.article-onshow{
    margin-bottom: 36px;
    width: 8px;
    height: 324px;
}

.article{
    position: absolute;
}

/*头部*/
.onshow-hd{
    height: 36px;
    margin-bottom: 18px;
}

.onshow-hd h2{
    color: #111;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    font-size: 18px;
    font-weight: normal;
    width: 675px;
}

.onshow-hd h2 span{
    margin-left: 15px;
    font-size: 13px;
    color: #27a;
}

.slide-control{
    float: right;
    margin: 5px 0 0 15px;
    font-size: 12px;
    color: #fff;
}

.slide-control .left{
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background-color:#27a;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
}

.slide-control .right{
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background-color:#27a;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
}

.onshow-hd h2 .slide-tip{
    margin-left: 300px;
    line-height: 25px;
    font-size: 10px;
}

.onshow-hd h2 .slide-tip span{
    color: #666;
    margin-left: -3px;
}

/*轮播*/
.ul-slide-content{
    width: 3000px;
    list-style: none;
    animation: move 5s ease 1s infinite;
}
@keyframes move {
    0% {
      transform: translate(calc(0 * 675px));
    }
    100% {
      transform: translate(calc(-1 * 675px));
    }
}

.onshow-bd{
    width: 675px;
    height: 270px;
    overflow: hidden;
}

.slide-item{
    text-align: center;
    margin-right: 25px;
    width: 115px;
    height: 270px;
    float: left;
}

.ul-slide-content img{
    height: 161px;
    width: 115px;
    margin-bottom: 12px;
}

.slide-item p{
    width: 96px;
    height: 22px;
    color: #000;
    font-size: 14px;
    margin: 0 auto;
}

.score{
    color: #e09015;
    font-size: 12px;
    margin-left: 2px;
}

.slide-item a{
    display: block;
    background-color:#37a;
    color: #fff;
    font-size: 12px;
    width: 100px;
    margin: 0 auto;
    height: 20px;
    line-height: 20px;
    text-decoration: none;
    border-radius: 5px;
}

.onshow-bd

/*精灵图*/
.score span:nth-child(1){
    background-image: url(img/star.png);
    float: left;
    width: 55px;
    height: 11px;
    background-size: 55px auto;
}

.p1-1{
    background-position: 0 -22px;
}

.p1-2{
    background-position: 0 -33px
}

.p1-3{
    background-position: 0 -22px;
}

.p1-4{
    background-position: 0 -33px
}

.p1-5{
    background-position: 0 -44px;
}

.p1-6{
    background-position: 0 -33px;
}

/*详情提示*/
.infor{
    position: absolute;
    top: 0;
    left: 120px;
    width: 250px;
    height: 180px;
    background-color:#fff;
    border: 1px solid #bebbbb;
    display:none;
}

.slide-item:nth-child(1){
    position: relative;
}

.infor ul{
    list-style: none;
    padding: 20px;
}

.infor li{
    float: left;
    margin: 8px;
    width: 250px;
    font-size: 12px;
}

.infor li span{
    float: left;
}

.infor li div{
    float: left;
}

.infor li:nth-child(3) span:nth-child(1){
    margin: -1px;
}

.infor li:nth-child(1) span:nth-child(1){
    font-size: 17px;
    margin-right: 7px;
}

.infor li:nth-child(1) span:nth-child(2){
    font-size: 10px;
    color: #bebbbb;
    margin-top: 6px;
}

.infor .p1-1{
    background-position: 0 -22px;
    background-image: url(img/star.png);
    float: left;
    width: 55px;
    height: 11px;
    background-size: 55px auto;
}

.infor li:nth-child(2) span{
    margin-right: 5px;
}

.infor li:nth-child(3) span{
    margin-left: 8px;
}

.slide-item:hover>.infor{
    display: block;
}