*{
    margin: 0;
    padding: 0;
}

.slide-main{
    width: 1226px;
    height: 460px;
    position: absolute;
    z-index: 1;
    margin-left: -235px;
}
.slides{
    left: 0;
    position: relative;
}

.slides li img{
    position: absolute;
    width: 1226px;
    height: 460px;
    overflow: hidden;
    top: 0;
    left: 0;
}

.slides ul{
    list-style: none;
}

.slides:nth-child(1){
    opacity: 1;
}

.left{
    position: absolute;
    width: 41px;
    height: 70px;
    top: 50%;
    left: 235px;
    background-color:transparent;
    text-align: center;
    line-height: 70px;
    font-size: 27px;
    color: #ccc;
}

.right{
    position: absolute;
    width: 41px;
    height: 70px;
    top: 50%;
    background-color:transparent;
    text-align: center;
    line-height: 70px;
    font-size: 27px;
    color: #ccc;
    right: 0; 
}

.left:hover{
    background-color: #00000050;
    color: #fff;
}

.right{
    position: absolute;
    right: 0;
}

.right:hover{
    background-color: #00000050;
    color: #fff;
}

.dots ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.dots li{
    width: 6px;
    height: 6px;
    border: 2px solid rgba(0,0,0,0.5);
    border-radius: 100%;
    background-color:#ccc;
    float: left;
    margin-right: 10px;
}

.dots li:hover{
    background-color: #fff;
}

.dots li:active{
    background-color: #fff;
}

.dots{
    position: absolute;
    bottom: 30px;
    right: 30px;
}

