*{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}

li{
    list-style-type: style none;
}

img{
    width: 100%; 
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0,0,2);
    height: 405px;
}

.container{
    position: relative;
    width: 720px;
    height: 405px;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.imgs{
    position:absolute;
    width: 720px;
    height: 405px;
}

.imgs li {
    position: absolute;
    transition: 0.5s;
}

.container .left {
    position: absolute;
    font-size: 24px;
    color: #fff;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: #333;
    border-radius:18px;
    opacity: .3;
    top: 50%;
    left:0;
    z-index: 999;
}

.container .right {
    position: absolute;
    font-size: 24px;
    color: #fff;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: #333;
    border-radius:18px;
    opacity: .3;
    top: 50%;
    left:0;
    z-index: 999;
}

.left:hover {
    opacity: .7;
}

.right:hover {
    opacity: .7;
}

.imgs .one{
    transform: translateX(-150px) scale(0.9);
    z-index: 1;
}

.imgs .two{
    z-index: 2;
}

.imgs .three{
    transform: translateX(-150px) scale(0.9);
    z-index: 1;
}

.imgs .four{
    transform: scale(0.9)
}

.list .change{
background-color: #495f8c;
}

.rights{
    position: absolute;
    right: 0;
    bottom: 30px;
    height: 256px;
    width: 100px;
}

.lefts{
    position: absolute;
    left: 0;
    bottom: 30px;
    height: 256px;
    width: 100px;
}