*{
    margin:0;
    padding:0;
}

ul{
    width: 500px;
    height: 280px;
    margin: 100px auto;
    position: relative;
    perspective: 500px;
    list-style: none;
}

.slide:nth-of-type(1) {
    background-color: #9fa8ef;
}

.slide:nth-of-type(2) {
    background-color: #f25c05;
    opacity: 1;
}

.slide:nth-of-type(3) {
    background-color: #495f8c;
}

.slide{
    transition: all 1s ease-in-out;
    width: 500px;
    height: 280px;
    display: inline-block;
    opacity: 0;
}

li{
    width: 500px;
    height: 280px;
    position: absolute;
    left: 0;
    top: 0;
}

span{
    width: 40px;
    height: 70px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 50px;
    position: absolute;
    left: -60px;
    top: 50%;
    z-index: 11;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.5s ease;
}

span:hover{
    opacity: 1;
}

#right{
    right: -60px;
    left:auto;
}